#!/usr/bin/env bash
export SASYNC_FOLDER=/opt/sasync
export SETS_FOLDER=/opt/sasync/sa-sets
export JSON_FOLDER=/opt/sa                        # Location of folder with service account .json files. No trailing slash
export JSON_COUNT_FILE=/opt/sasync/json.count     # Location of json.count file. If you have multiple json groups, keep separate json.count files/locations
export MIN_JSON=1
export MAX_JSON=100                              # Set MIN and MAX json file numbers assuming file format is 1.json, 2.json
# NOTE: CHANGE `MAX_JSON` TO EQUAL THE NUMBER OF JSON FILES YOU ACTUALLY HAVE IN YOUR JSON_FOLDER
export EXCLUDES=/opt/sasync/exclude.txt           # Location of exclude.txt file with list of file types to exclude