#!/usr/bin/env bash
export SASYNC_FOLDER=/opt/sasync
export SETS_FOLDER=$SASYNC_FOLDER/sa-sets
export JSON_FOLDER=/opt/sa                        # Location of folder with service account .json files. No trailing slash
export JSON_COUNT_FILE=$SASYNC_FOLDER/json.count  # If you have multiple json groups, keep separate json.count files/locations
export MIN_JSON=1
export MAX_JSON=1200                              # Set MIN and MAX json file numbers assuming file format is 1.json, 2.json
# NOTE: YOU NEED TO CHANGE `MAX_JSON` TO EQUAL THE NUMBER OF JSON FILES YOU ACTUALLY HAVE IN YOUR JSON_FOLDER
export EXCLUDES=$SASYNC_FOLDER/exclude.txt        # Location of exclude.txt file with list of file types to exclude