# set.movies
# 1source       2destination       3transfers  4checkers  5chunksize     6SAs     7maxtransfer
td_movies:      my_movies:         4           20         16M            1        600G
td_movies_4k:   my_movies_4k:      2           20         16M            1        500G